{# templates/Advert/byebye-world.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <title>A plus !!</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>A bientôt !</h1>
  <p>
    merci pour votre visite, au revoir ;)
  </p>
</body>
</html>
